@import url("https://fonts.googleapis.com/css?family=Space+Mono");

body {
    background-color:#828ec6;
    padding: 2em;
    font-family: "Space Mono", sans-serif;;
}
.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
    background-color:#a3aedf;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
    font-family: inherit;
}

#user {
    padding:1em;
    background-color:#a3aedf;
    margin: 1em 0;
}

